In [1]:
import pandas as pd

In [2]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [7]:
series = pd.Series(lst)
print(series)
print(series.dtype)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
int64
<class 'pandas.core.series.Series'>

In [8]:
empty = pd.Series([])
empty

C:\Users\SUDEEP\AppData\Local\Temp\ipykernel_9892\3069909210.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty = pd.Series([])

Series([], dtype: float64)

In [9]:
a = pd.Series(['p','q','r','s','t'], index =[10,11,12,13,14])
a

10    p
11    q
12    r
13    s
14    t
dtype: object

In [10]:
b = pd.Series(['p','q','r','s','t'], index =[10,11,12,13,14], name = 'alphabets')
b

10    p
11    q
12    r
13    s
14    t
Name: alphabets, dtype: object

In [12]:
dict_series = pd.Series({'p':[1,4,5], 'q':[2,7,4], 'r':[1,8,4], 's':[0,4,3]})
dict_series

p    [1, 4, 5]
q    [2, 7, 4]
r    [1, 8, 4]
s    [0, 4, 3]
dtype: object

In [1]:
import pandas as pd

In [6]:
pf = pd.DataFrame()
print(pf)

Empty DataFrame
Columns: []
Index: []

In [8]:
lst = [[1,2,3,4,5],[5,6,7,8,9]]
q = pd.DataFrame(lst)
q

   0  1  2  3  4
0  1  2  3  4  5
1  5  6  7  8  9

In [9]:
dict = [{'a':1,'b':2,'c':3,'d':4},{'a':5,'b':6,'c':7,'d':8}]#dictionary has key value pair and keys represent column names
w = pd.DataFrame(dict)
w

   a  b  c  d
0  1  2  3  4
1  5  6  7  8

In [12]:
b = {'Rollno':pd.Series([1,2,3,4,5]),
    'physics':pd.Series([61,62,63,64,65]),
    'maths':pd.Series([71,72,73,74,75])}
e = pd.DataFrame(b)
e

   Rollno  physics  maths
0       1       61     71
1       2       62     72
2       3       63     73
3       4       64     74
4       5       65     75

In [18]:
df = pd.read_csv(r'C:/Users/SUDEEP/Downloads/data.csv')
df

    firstname  lastname                       email  age
0         Cam     Ingra       Cam.Ingra@outlook.com   40
1       Robbi  Hourigan    Robbi.Hourigan@yahoo.com   50
2      Florie    Pattin   Florie.Pattin@outlook.com   44
3    Cindelyn   Brunell  Cindelyn.Brunell@gmail.com   60
4       Danny   Goldina     Danny.Goldina@yahoo.com   30
..        ...       ...                         ...  ...
992   Julieta   Weinreb   Julieta.Weinreb@yahoo.com   19
993    Danika   Germann  Danika.Germann@outlook.com   24
994    Dorene   Erminia  Dorene.Erminia@outlook.com   34
995   Sidoney   Suzetta   Sidoney.Suzetta@yahoo.com   49
996    Phylis    Dorine   Phylis.Dorine@outlook.com   33

[997 rows x 4 columns]

In [19]:
df.columns

Index(['firstname', 'lastname', 'email', 'age'], dtype='object')

In [20]:
df.shape                 # giving (rows,columns)

(997, 4)

In [21]:
df.size                # number of cells

3988

In [22]:
df.head()             # first 5 rows

  firstname  lastname                       email  age
0       Cam     Ingra       Cam.Ingra@outlook.com   40
1     Robbi  Hourigan    Robbi.Hourigan@yahoo.com   50
2    Florie    Pattin   Florie.Pattin@outlook.com   44
3  Cindelyn   Brunell  Cindelyn.Brunell@gmail.com   60
4     Danny   Goldina     Danny.Goldina@yahoo.com   30

In [23]:
df.tail()           # last 5 rows

    firstname lastname                       email  age
992   Julieta  Weinreb   Julieta.Weinreb@yahoo.com   19
993    Danika  Germann  Danika.Germann@outlook.com   24
994    Dorene  Erminia  Dorene.Erminia@outlook.com   34
995   Sidoney  Suzetta   Sidoney.Suzetta@yahoo.com   49
996    Phylis   Dorine   Phylis.Dorine@outlook.com   33

In [24]:
df.describe()

              age
count  997.000000
mean    39.373119
std     12.536741
min     18.000000
25%     29.000000
50%     39.000000
75%     50.000000
max     60.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstname  997 non-null    object
 1   lastname   997 non-null    object
 2   email      997 non-null    object
 3   age        997 non-null    int64
dtypes: int64(1), object(3)
memory usage: 31.3+ KB

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstname  997 non-null    object
 1   lastname   997 non-null    object
 2   email      997 non-null    object
 3   age        997 non-null    int64
dtypes: int64(1), object(3)
memory usage: 31.3+ KB

In [3]:
import pandas as pd
df = pd.read_csv(r'C:/Users/SUDEEP/Downloads/train.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/SUDEEP/Downloads/train.csv'